.IMG{
    width: 16rem;
    height: 20rem;
    /* background-color: blue; */
}

.cardimg{
    width: 21rem;
}
.card{
    /* width: 40rem; */
}


swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  height: 33rem;

}

swiper-slide {
    border-radius: 25px;

  background-position: center;
  background-size: cover;
  width: 15rem;
  height: 38rem;
background-color: #ffffff;
  /* height: 300px; */
}
swiper-slide img {
  /* display: block; */
    height: 27rem;
    width: 100%;
    border-radius: 25px;
    background-color: #ffffff;

}







.slider2 swiper-container {
  width: 270px;
  height: 432px;
  margin-top: -60px;
}

.slider2 swiper-slide {
  height: 432px;
  width: 270px;


  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}
